{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% bootstrap_messages %}

{% block content %}
    <h1>
        {% translate "Метки"%}
    </h1>
    <br>
    <a class="nav-link" href={% url 'label_create' %}>{% translate "Создать метку"%}</a>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">{% translate "Имя"%}</th>
                <th scope="col">{% translate "Дата создания"%}</th>
            </tr>
        </thead>
        <tbody>
                {% for label in object_list %}
                <tr>
                    <td> {{ label.id }} </td>
                    <td> {{ label.name }} </td>
                    <td> {{ label.created_at }} </td>
                    <td>
                        <a href="{{ label.get_absolute_url }}/update/"> {% translate "Изменить"%} </a>
                        <br>
                        <a href="{{ label.get_absolute_url }}/delete/"> {% translate "Удалить"%} </a>
                    </td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
{% endblock content %}