{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% bootstrap_messages %}

{% block content %}
    <h1>
        {% translate "Изменение метки"%}
    </h1>
    <br>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            {{ field.label_tag }}
            <br>
            {{ field }}
            {% if failed and field.label == "Имя" %}
                <small class="text-danger">{% translate "Label с таким Имя уже существует."%}</small> 
            {% endif %}
            <br>
        {% endfor %}
        <button type="submit" class="btn btn-info btn-lg"> {% translate "Изменить"%} </button>
    </form>
{% endblock content %}