{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% bootstrap_messages %}

{% block content %}
    <div class="card text-white bg-secondary mx-auto" style="width: 800px;">
        <div class="card-header">
            <h1 class="card-title">{% translate "Привет от Хекслета!"%}</h1>
        </div>
        <div class="card-body">
            <h6 class="card-text">{% translate "Практические курсы по программированию"%}</h6>
            <hr>
            <a href='https://ru.hexlet.io/' type="button" class="btn btn-lg text-muted"> {% translate "Узнать больше"%} </a>
        </div>
    </div>
{% endblock content %}