{% load bootstrap4 %}
{% load i18n %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% translate "Статусы"%} </title>
</head>
<body class="d-flex flex-column min-vh-100">
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
            <a class="navbar-brand" href="/">Менеджер задач</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggleExternalContent">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/users/">Пользователи</a>
                </li>
                
                  <li class="nav-item">
                    <a class="nav-link" href="/statuses/">Статусы</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/labels/">Метки</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/tasks/">Задачи</a>
                  </li>
                
              </ul>
              <ul class="navbar-nav">
                
                  <form action="/logout/" method="post">
                    <input type="hidden" name="csrfmiddlewaretoken" value="dZKa2yoYE1m6wHtwIgVWVjymX4e01xKwRrMxM1vYbqr8RatMQOlycqloFice1iak">
                    <input class="btn nav-link" type="submit" value="Выход">
                  </form>
                
              </ul>
            </div>
          </nav>

        <br>

        <div>
            <h1>
                {% translate "Статусы"%}
            </h1>
        
            <br>
            
            <a class="nav-link" href={% url 'status_create' %}>{% translate "Создать статус"%}</a>

            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">{% translate "Имя"%}</th>
                        <th scope="col">{% translate "Дата создания"%}</th>
                    </tr>
                </thead>
                <tbody>
                        {% for status in object_list %}
                        <tr>
                            <td> {{ status.id }} </td>
                            <td> {{ status.name }} </td>
                            <td> {{ status.created_at }} </td>
                            <td>
                                <a href="/statuses/{{ status.id }}/update/"> {% translate "Изменить"%} </a>
                                <br>
                                <a href="/statuses/{{ status.id }}/delete/"> {% translate "Удалить"%} </a>
                            </td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>