{% load bootstrap4 %}
{% load i18n %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% bootstrap_messages %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% translate "Менеджер задач Hexlet"%}</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark mb-3 bg-dark">
            <a class="navbar-brand" href="/"> {% translate "Менеджер задач"%}</a>
            <div class="collapse navbar-collapse"  id="navbarToggleExternalContent">
                <ul class="navbar nav-masthead">
                    <li class="navbar-brand">
                        <a class="nav-link" href={% url 'users' %}>{% translate "Пользователи"%}</a>
                    </li>
                    <li class="navbar-brand">
                        <a class="nav-link" href={% url 'statuses' %}>{% translate "Статусы"%}</a>
                    </li>
                    <li class="navbar-brand">
                        <a class="nav-link" href={% url 'labels' %}>{% translate "Метки"%}</a>
                    </li>
                    <li class="navbar-brand">
                        <a class="nav-link" href={% url 'tasks' %}>{% translate "Задачи"%}</a>
                    </li>
                </ul>
                <ul class="navbar nav-masthead ml-auto">
                    <ul class="navbar nav-masthead ml-auto">
                        <li class="navbar-brand">
                            <a class="nav-link" href={% url 'logout' %}>{% translate "Выход"%}</a>
                        </li>
                    </ul>
                </ul>
            </div>
        </nav>
        
        <br>

        <div>
            <h1>
                {% translate "Изменение задачи"%}
            </h1>

            <br>

        {% block content %}
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    {{ field.label_tag }}
                    <br>
                    {{ field }}
                    {% if failed and field.label == "Имя" %}
                        <small class="text-danger">{% translate "Task с таким Имя уже существует."%}</small> 
                    {% endif %}
                    <br>
                {% endfor %}
                <button type="submit" class="btn btn-info btn-lg"> {% translate "Изменить"%} </button>
            </form>
        {% endblock content %}
        </div>
    </div>
</body>
</html>