{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% bootstrap_messages %}

{% block content %}
    <h1>
        {% translate "Задачи"%}
    </h1>
    <br>
    <a class="nav-link" href={% url 'task_create' %}>{% translate "Создать задачу"%}</a>
        <div class="card bg-secondary mb-3 mx-auto" style="max-width: 40rem; max-height: 9rem;"">
        <div class="card-body mx-auto">
            <form method="get" class="form-inline">
                {% csrf_token %}
                {% for field in filter.form %}
                    {% if field.label == "Только свои задачи" %}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{ field }}
                        &nbsp;
                        &nbsp;
                        <div class="form-group">{% translate field.label_tag %}</div>
                        &nbsp;
                        &nbsp;
                    {% else %}
                        <div class="form-group">{% translate field.label_tag %}</div>
                        &nbsp;
                        &nbsp;
                        {{ field }}
                        &nbsp;
                        &nbsp;
                    {% endif %}
                {% endfor %}
                   &nbsp;
                   &nbsp;
                   <input type="submit" value={% translate "Показать"%}>
            </form>
        </div>
        </div>

        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">{% translate "Имя"%}</th>
                    <th scope="col">{% translate "Статус"%}</th>
                    <th scope="col">{% translate "Автор"%}</th>
                    <th scope="col">{% translate "Исполнитель"%}</th>
                    <th scope="col">{% translate "Дата создания"%}</th>
                </tr>
            </thead>
            <tbody>
                
                    <tr>
                    {% for task in object_list %}
                        <td> {{ task.id }} </td>
                        <td> <a href="{{ task.get_absolute_url }}"> {{ task.name }} </a></td>
                        <td> {{ task.status }} </td>
                        <td> {{ task.author }} </td>
                        <td> {{ task.executor }} </td>
                        <td> {{ task.created_at }} </td>
                        <td>
                            <a href="{{ task.get_absolute_url }}/update/"> {% translate "Изменить"%} </a>
                            <br>
                            <a href="{{ task.get_absolute_url }}/delete/"> {% translate "Удалить"%} </a>
                        </td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>                
{% endblock %}